* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px
}

/* ================================= 
  Nav
==================================== */

h2 {
    font-weight: 700;
    font-size: 30px;
    padding-right: 50px;
    margin-left: 10px;
    padding-bottom: 15px;
    text-decoration: none;
}

h2 a:hover {
    color: grey;
    transition: 0.5s;
} 

.nav-links li {
    transform: scale(1);
    transition: 0.5s;
}
  
.nav-links li:hover {
    transform: scale(1) translateY(-15px);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    min-height: 8vh;
    font-family: aktiv-grotesk, sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding-top: 40px;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    padding-left: 30px;
    font-size: 15px;
    color: #000;
}


.social {
    line-height: 1;
}


.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    line-height: 3px;
    background-color: #000;
    margin: 5px;
    transition: all 0.3s ease;
}

/* ================================= 
  Image Effects
==================================== */

.contain {
    position: relative;
  }

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contain:hover .image {
    opacity: 0.3;
  }
  
  .contain:hover .middle {
    opacity: 1;
  }
  
  .text {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;  
    color: black;
    padding: 5px;
  }

/* ================================= 
  Work Example Hero Images - Royal Mail
==================================== */  

.hero-royalmail {
    margin-top: -130px;
    width: 100%;
}  

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.headerOne {
    margin-left: 0;
    font-size: 50px;
}

.headerOne:hover {

}


/* ================================= 
  Contact Page
==================================== */  

.hero-contact {
    width: 100%;
}

/* ================================= 
  Footer
==================================== */


.footer-container {
    max-width: 200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.email {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-container a {
    transform: scale(1);
    transition: 0.5s;
}
  
.footer-container a:hover {
    transform: scale(1) translateY(-15px);
}

p a:hover {
    color: grey;
    transition: 0.25s;
}

/* ================================= 
  Bottom Nav
==================================== */

.bottomNav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

.before {
  padding-left: 20px;
}

.next {
    padding-right: 20px;
}

.rightpag a:hover,
.leftpag a:hover {
    color: grey;
    transition: .25s ease;
}


/* ================================= 
  Media quieries
==================================== */


@media screen and (max-width:768px) {

    h2 {
        margin-bottom: -10px;
    }

    /* .main {
        display: none;
    } */

    .nav-links {
        width: 60%;
        font-size: 10px;
    }

    body {
        overflow-x: hidden;
    }

    .navbar {
        background-color: #fff;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 70vh;
        margin-top: 10px;
        top: 8vh;
        background-color: #fff;
        padding-left: 0;
        z-index: 1;
        opacity: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.75s ease-in;
    }

    svg {
        transform: scale(2);
    }

    .social2 {
        display: none;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .headerOne {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .bottomNav {
        transform: scale(.5);
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:first-child {
        padding-top: 80px;
    }

    .nav-links a {
        font-size: 30px;
    }

    .hero-royalmail {
        margin-top: 0;
    }

    .burger {
        display: block;
        /* margin-right: 10px; */
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}